{{!-- About Section Start --}}

<div class="container-fluid mt-5 about-style" id="aboutid">
    <div clas="row">
        <div class="col-md-10 col-12 mx-auto">
            {{!-- About Section Starts --}}

            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">Grow Your Bussiness With Us</p>
            <div class=" row">

                {{!-- Left Side --}}
                <div class="col-md-6 col-12 hero-text ">
                    <figure>
                        <img src="img/about.svg" alt="Hero's Section">
                    </figure>
                </div>


                {{!-- Right Side --}}
                <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                    <h1>We Are The Professional Developer😎</h1>
                    <p>
                        Welcome to <span class="bold-style">Technical_Grow</span>
                        Ur Number One Source For All Things. We're Dedicated To Giving U The Best Of Work.
                    </p>
                    <button class="btn-style btn-primary">Read More</button>
                </div>



            </div>
        </div>
    </div>
</div>
{{!-- About Section Ends --}}